<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="menu-esquerdo" >
	    <div class="sidebar" data-color="white" data-active-color="danger">
	    
	      <div class="logo">
	        <a th:href="@{/administrador/home-admin}" class="simple-text logo-mini">
	          <div class="logo-image-small">
	            <img src="../imgs/livro.png">
	          </div>
	        </a>
	        <a th:href="@{/administrador/home-admin}" class="simple-text logo-normal">
	          Livraria Céu Azul
	        </a>
	      </div>
	      
	      <div class="sidebar-wrapper" >
	        <ul class="nav">
	          <li class="active ">
	            <a th:href="@{/administrador/home-admin}">
	              <i class="nc-icon nc-bank"></i>
	              <p>Home</p>
	            </a>
	          </li>
	          <li class="active ">
	            <a th:href="@{/usuario/perfil-usuario}">
	              <i class="nc-icon nc-single-02"></i>
	              <p>Perfil</p>
	            </a>
	          </li>  
	          <li class="active">
	            <a th:href="@{/usuario/cadastro-usuario}">
	              <i class="nc-icon nc-single-copy-04"></i>
	              Cadastro usuario
	            </a>
	          </li>
	          <li class="active">
	            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	              <i class="nc-icon nc-bank"></i>
	              Cadastro autor
	            </a>
	          </li>
	          <li class="active ">
	            <a href="./dashboard.html">				
	              <i class="nc-icon nc-bank"></i>
	              <p>Lista</p>
	            </a>
	          </li>
	          <li class="active ">
	            <a href="./dashboard.html">				
	              <i class="nc-icon nc-bank"></i>
	              <p>Pedidos</p>
	            </a>
	          </li>
	          <li class="active ">
	            <a th:href="@{/}">				
	              <i class="nc-icon nc-button-power"></i>
	              <p>Sair</p>
	            </a>
	          </li>
	        </ul>
	      </div>
	           
	    </div>
    </div>
</body>
</html>