<!DOCTYPE html>
<html xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layout}">
<head>
<meta charset="ISO-8859-1">
<title>Cadastro de Usuarios</title>
</head>
<body>
	<div id="content" layout:fragment="corpo">
		<div class="col-md-10">
            <div class="card card-user">
             	<div class="card-header">
                	<h5 class="card-title">Cadastro Usuario</h5>
              	</div>
	            <div class="card-body">
	            
	            	<form th:object="${usuario}" th:action="@{/usuario/saveUsuario}" id="form" method="POST">
                        <input id="id_Usuario" name="id_Usuario" type="hidden" th:field="*{id_Usuario}" th:value="*{id_Usuario}">
                        <div class="row">
                        
                        	<div class="col-md-5">
	                 			<div class="form-group">
	                        		<label>Nome</label>
	                        		<input type="text" class="form-control" placeholder="fulano da silva" id="nome" th:field="*{nome}">
	                      		</div>
	                 		</div> 
	                 		
                        </div>                   
                    </form>
                    
	            </div>
	        </div>
	   </div>
    </div>
</body>
</html>