<!DOCTYPE html>
<html  lang="pt" xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
		xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>Livraria</title>
	<link rel="icon" type="imagem/png" href="/imgs/livro.png" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/cadastro.css}"/>
</head>
<body>
    <div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="/imgs/livro.png/" class="brand_logo" alt="Logo">
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
					<div class="card-body">
					
	            	<p class="card-category">campos obrigatorios <span style="color: red">*</span></p>
	            	
	            	<form th:object="${usuario}" th:action="@{/usuario/saveUsuario}" method="POST">
	            		<input id="id" name="id" type="hidden" th:field="*{id}" th:value="*{id}">
	            		
	            		<div class="form-group row">
							<div class="alert alert-danger alert-dismissible fade show"
								role="alert" th:if="${#fields.hasAnyErrors()}">

								<button type="button" class="close" data-dismiss="alert"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>

								<div th:each="detailedError : ${#fields.detailedErrors()}">
									<strong th:text="${detailedError.message}"> </strong>
								</div>
							</div>
						</div>
                   
                        <div class="row">                   
                        	<div class="col-md-7">
	                 			<div class="form-group">
	                        		<label>Nome<span style="color: red">*</span></label>
	                        		<input type="text" id="nome" th:field="*{nome}" class="form-control" placeholder="fulano da silva">
	                      		</div>
	                 		</div> 
	                 		<div class="col-md-5">
	                 			<div class="form-group">
	                        		<label>Email<span style="color: red">*</span></label>
	                        		<input type="text" id="email" th:field="*{email}" class="form-control" placeholder="fulano@gmail.com">
	                      		</div>
	                 		</div>
	                 		<div class="col-md-5">
	                 			<div class="form-group">
	                        		<label>Rua<span style="color: red">*</span></label>
	                        		<input type="text" id="rua" th:field="*{rua}" class="form-control" placeholder="Oscar tertulino de Oliveira">
	                      		</div>
	                 		</div>
	                 		<div class="col-md-4">
	                 			<div class="form-group">
	                        		<label>Bairro<span style="color: red">*</span></label>
	                        		<input type="text" id="bairro" th:field="*{bairro}" class="form-control" placeholder="são jose">
	                      		</div>
	                 		</div>
	                 		<div class="col-md-3">
	                 			<div class="form-group">
	                        		<label>Número<span style="color: red">*</span></label>
	                        		<input type="text" id="bairro" th:field="*{bairro}" class="form-control" placeholder="são jose">
	                      		</div>
	                 		</div>
	                 		<div class="col-md-5">
	                 			<div class="form-group">
	                        		<label>Senha<span style="color: red">*</span></label>
	                        		<input type="text" id="senha" th:field="*{senha}" class="form-control" placeholder="*******">
	                      		</div>
	                 		</div> 
                        </div>
                        
                        <div class="btn-toolbar" role="toolbar">
  							<div class="btn-group mr-2" role="group">
    							<button type="submit" class="btn btn-primary btn-round">Cadastrar-se</button>
  							</div>
                  		</div>  
                  		                  
                    </form>
                    
	            </div>
				</div>
			</div>
		</div>
	</div>
	<footer class="sticky-footer bg-white">
       <div class="container my-auto">
         <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
         </div>
       </div>
    </footer>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery.min.js}"></script>
</body>
</html>