<!DOCTYPE html>
<html  lang="pt" xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
		xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>Livraria</title>
	<link rel="icon" type="imagem/png" href="/imgs/livro.png" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
</head>
<body>
    <div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="/imgs/livro.png/" class="brand_logo" alt="Logo">
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form method="post"  th:object="${administrador}" th:action="@{/administrador/login}">
						<div class="input-group mb-3">
							<input type="text" name="nome" id="nome" class="form-control input_user" value="" placeholder="nome">
						</div>
						<div class="input-group mb-2">
							<input type="password" name="senha" id="senha" class="form-control input_pass" value="" placeholder="senha">
						</div>
						<div class="form-group">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="customControlInline">
								<label class="custom-control-label" for="customControlInline">Lembrar de Min</label>
							</div>
						</div>
						<div class="d-flex justify-content-center mt-3 login_container">
							<button type="submit" name="button" class="btn login_btn">Entrar</button>
						</div>
					</form>
				</div>
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Não tem uma conta? <a th:href="@{/usuario/cadastro}" class="ml-2">Inscrever-se</a>
					</div>
					<div class="d-flex justify-content-center links">
						<a th:href="@{/usuario/esqueceuSenha}">Esqueceu sua senha?</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="sticky-footer bg-white">
       <div class="container my-auto">
         <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
         </div>
       </div>
    </footer>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery.min.js}"></script>
</body>
</html>